/* на маленьких устройствах 1 слайд */
.itc-slider-item {
    flex: 0 0 100%;
  }
  
  /* на средних экранах (ширина больше 768px) 2 слайда */
  @media (min-width: 768px) {
    .itc-slider-item {
      flex: 0 0 50%;
    }
  }
  
  /* на больших экранах (ширина больше 1200px) 3 слайда */
  @media (min-width: 1200px) {
    .itc-slider-item {
      flex: 0 0 33.3333333333%;
    }
  }


  .itc-slider-items {
    --gap: 1rem;
    gap: var(--gap);
  }

  .itc-slider {
    width: 700px;
  }
  
  .itc-slider-items {
    --gap: 30px;
    gap: var(--gap);
  }
  
  .itc-slider-item {
    flex: 0 0 335px;
    /* или */
    /* flex: 0 0 calc(350px - var(--gap) / 2); */
  }
  







































  